@import '../../utils/style/colors.css';

.profile_wrapper {
   flex: 1;
   box-sizing: border-box;
   padding: 2rem;
   background-color: var(--background-blue-color);
}

.welcome_wrapper {
   color: white;
   margin-bottom: 2rem;
}

.welcome_text {
   margin: 0;
}

.input_name_wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 0.5rem;
   margin-bottom: 1.5rem;
}

.name_text {
   margin-top: 0;
}