@import '../../utils/style/colors.css';

.account_wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid black;
   background-color: white;
   width: 80%;
   margin: 0 auto;
   flex-direction: column;
   padding: 1.5rem;
   box-sizing: border-box;
   text-align: left;
   margin-bottom: 2rem;
}

.account_content {
   width: 100%;
   flex: 1;
}

.account_title {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   font-weight: normal;
}

.account_amount {
   margin: 0;
   font-size: 2.5rem;
   font-weight: bold;
}

.account_description {
   margin: 0;
}

.transaction_button {
   display: block;
   width: 100%;
   padding: 8px;
   font-size: 1.1rem;
   font-weight: bold;
   margin-top: 1rem;
   border-color: var(--primary-color);
   background-color: var(--primary-color);
   color: white;
}
 
@media (min-width: 720px) {
   .account_wrapper {
      flex-direction: row;
   }

   .account_content.cta {
      flex: 0;
   }

   .transaction_button {
      width: 200px;
   }
}